.root {
    /*variable basadas en root, mas facil de progrmar  por q son diretcas al codigo*/
    --itus-purple-primary: #7224A6;
    --itus-purple-medium: #421F73;
    --itus-purple-dark: #361D59;
    --itus-gold: #F2BB16;
    --itus-gray-light: #D9D9D9;
    --itus-light-gray: #f8f9fa;
    --itus-red: #c9182b;

}


body {
    background-color: black;
}

.my-nav-personalized {
    background-color: black;
}

.img-itus {
    width: 256px;
}

.navbar-nav {
    gap: 10px;
}

.nav-link {
    color: #D9D9D9;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

/* Modificaciones al Carrusel */
.carousel-item {
    filter: brightness(50%);
}

.carousel-item img {
    height: 1000px;
    object-fit: cover;
    object-position: top;
}

.featured-careers {
    color: #D9D9D9;
}

.card-text {
    text-align: justify;
}

/* Sección Clientes Felices */
.happy-learners {}






/* Sección Noticias */
.seccion-noticias {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.noticias-principal {
    width: 70%;
    padding: 20px;
    color: #D9D9D9;
}

.noticias-secundaria {
    width: 30%;
    padding: 20px;
    background-color: black;
}